.header > .form {
  display: flex;
}

.header > .form > input {
  width: 80%;
  outline: none;
}

.header > .form > * {
  color: black;
  margin: 0px 5px;
  padding: 10px;
}

.status-emoji {
  font-size: 40px;
}

.correct {
  border: 2px solid greenyellow;
}

.default {
  border: 2px solid violet;
}

.error {
  border: 2px solid red;
}
