/* Theme colors */
body {
  --theme-color: #4d262e;
  --main-color: rgba(0,0,0, 0.7);
  --secondary-color: white;
}
body.light {
  --main-color: white;
  --secondary-color: rgba(0,0,0, 0.7);
}
body.orange {
  --theme-color: orange;
}
body.green {
  --theme-color: green;
}

/* Stylesheet */
body {
  background-color: var(--theme-color);
}

* {
  color: var(--secondary-color);
}

button, input {
  background-color: var(--secondary-color);
  border: 0;
  font-size: 16px;
  color: var(--main-color);
  padding: 5px;
}

button {
  cursor: pointer;
}

.container {
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 50px auto;
  max-width: 600px;
  padding: 10px;
  width: 90%;
}

.container > * {
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
  width: 100%;
}

