@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #210630;
}

* {
  color: white;
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
}

:any-link,
:any-link:hover,
:any-link:visited {
  color: orange;
}
